html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gap2, .gap3, .gap4, .gap5, .origin_bubble {
  position: absolute;
  font-size: 10pt;
  z-index: 1;
  width: 30%;
  max-height: 100px;
  max-width: 400px;
  text-align: center;
  padding: 8px;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  font-family: 'Delius', cursive;
}

.gap2, .gap3, .gap4, .gap5 {
  top: 0%;
  left: 0%;
  border-radius: 0px;
  background: #fff3b3;
  min-width: 200px;
  font-style: italic;
}

.flying, .origin, .nemesis, .friends {
  font-size: 18pt;
  font-weight: bold;
  white-space: nowrap;
  display: inline;
}

.top_img, .second_img, .third_img, .fourth_img, .form {
  position: relative;
  min-height: 100%;
  border-bottom: 2px solid black;
}

html {
  height: 105%;
}

.flying {
  color: #eb4f28;
}

.origin {
  color: #767676;
}

.nemesis {
  color: #417a4b;
  font-size: 10pt;
}

.friends {
  color: #0000b3;
  font-size: 10pt;
}

.invincible {
  margin: 0 auto;
  position: absolute;
  top: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%;
}

.authors {
  position: absolute;
  top: 5%;
  text-align: left;
  z-index: 1;
  font-size: 4vw;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.barcode {
  height: 30%;
  position: absolute;
  z-index: 1;
  top: 74.7%;
}

.gap2 {
  border-top: 0px;
  border-left: 0px;
}

.gap3 {
  top: 80%;
  left: 60%;
  width: 40%;
  height: 10%;
}

.gap4 {
  top: 8%;
  left: 3%;
  min-width: 200px;
}

.gap5 {
  top: 45%;
  left: 35%;
  width: 30%;
}

.origin_bubble {
  top: 25vw;
  left: 50%;
  font-family: 'Bangers', cursive;
  border: 3px solid black;
  font-size: 18pt;
  max-width: 1000px;
  max-height: 1000px;
}

.ironman {
  left: 31%;
  position: absolute;
  top: 5px;
  text-align: center;
  color: black;
  width: 40%;
}

.top_img {
  background: url(/img/flying.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.second_img {
  background: url(/img/born.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.third_img {
  background: url(/img/mandarin.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fourth_img {
  background: url(/img/friends.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form {
  background: url(/img/form_bg.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.enter-text {
  position: absolute;
  left: 40%;
  top: 55%;
  width: 20%;
  height: 15%;
}

body {
  font-family: 'Marvel', sans-serif;
  height: 100%;
}

a {
  color: #800000;
}

@media screen and (max-width: 500px) {
  .gap2, .gap3, .gap4, .gap5, .origin_bubble {
    position: relative;
    border-left: 0px;
    border-right: 0px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    border-radius: 0px;
  }

  .enter-text {
    width: 80%;
    left: 10%;
  }
}
