@import "library";
@import "reset";

// Global templates

$suitred: #eb4f28;
$mandarin: #417a4b;
$iron: darken(darkgrey, 20%);
$avengers: darken(blue, 15%);

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;

}

%bubble {
	position: absolute;
	font-size: 10pt;
	z-index: 1;
	width: 30%;
	max-height: 100px;
	max-width: 400px;
	text-align: center;
	padding: 8px;
	background: white;
	border-radius: 5px;
	border: 1px solid black;
	overflow: hidden;
	font-family: 'Delius', cursive;
}

%narration {
	@extend %bubble;
	top: 0%;
	left: 0%;
	border-radius: 0px;
	background: lighten(gold, 35%);
	min-width: 200px;
	font-style: italic;
}

%highlight {
	font-size: 18pt;
	font-weight: bold;
	white-space: nowrap;
	display: inline;
}

%background {
	position: relative;
	min-height: 100%;
	border-bottom: 2px solid black;
}

html {
	height: 105%;
}

.flying {
	@extend %highlight;
	color: $suitred;
}

.origin {
	@extend %highlight;
	color: $iron;
}

.nemesis {
	@extend %highlight;
	color: $mandarin;
	font-size: 10pt;
}

.friends {
	@extend %highlight;
	color: $avengers;
	font-size: 10pt;
}


.invincible {
	margin: 0 auto;
	position: absolute;
	top: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
	width: 100%;
}

.authors {
	position: absolute;
	top: 5%;
	text-align: left;
	z-index: 1;
	font-size: 4vw;
	color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.barcode {
	height: 30%;
	position: absolute;
	z-index: 1;
	top: 74.7%;
}

.gap2 {
	@extend %narration;
	border-top: 0px;
	border-left: 0px;
}

.gap3 {
	@extend %narration;
	top: 80%;
	left: 60%;
	width: 40%;
	height: 10%;
}

.gap4 {
	@extend %narration;
	top: 8%;
	left: 3%;
	min-width: 200px;
}

.gap5 {
	@extend %narration;
	top: 45%;
	left: 35%;
	width: 30%;
}

.origin_bubble {
	@extend %bubble;
	top: 25vw;
	left: 50%;
	font-family: 'Bangers', cursive;
	border: 3px solid black;
	font-size: 18pt;
	max-width: 1000px;
	max-height: 1000px;
}

.ironman {
	left: 31%;
	position: absolute;
	top: 5px;
	text-align: center;
	color: black;
	width: 40%;
}

.top_img {
    	@extend %background;
    	background: url(/img/flying.jpg) no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
.second_img {
	@extend %background;
	background: url(/img/born.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.third_img {
	@extend %background;
	background: url(/img/mandarin.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fourth_img {
	@extend %background;
	background: url(/img/friends.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.form {
	@extend %background;
	background: url(/img/form_bg.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.enter-text {
	position: absolute;
	left: 40%;
	top: 55%;
	width: 20%;
	height: 15%;
}

body {
	font-family: 'Marvel', sans-serif;
	height: 100%;
}

a {
    color: #800000;
}

// Everything else

@media screen and (max-width: 500px) {
	    %bubble {
	    	position: relative;
	    	border-left: 0px;
	    	border-right: 0px;
	    	max-height: 200px;
	    	max-width: 100%;
	    	width: 100%;
	    	top: 100%;
	    	left: 0;
	    	border-radius: 0px;
	    }


}