@import "library";
@import "reset";

// Global templates

$suitred: #eb4f28;
$mandarin: #417a4b;

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

%bubble {
	position: absolute;
	z-index: 1;
	width: 30%;
	max-height: 100px;
	max-width: 200px;
	text-align: center;
	padding: 8px;
	background: white;
	border-radius: 5px;
	border: 1px solid black;
	overflow: hidden;
}

%highlight {
	font-size: 18pt;
	font-weight: bold;
	white-space: nowrap;
}



html {
	height: 100%;
}

.origin {
	@extend %highlight;
	color: $suitred;
}

.nemesis {
	@extend %highlight;
	color: $mandarin;
}

.top_img {

			position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    	min-height: 100%;

    	background: url(/img/first.jpg) no-repeat fixed top center;

    }

.second_img {

		position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    	min-height: 100%;

    	background: url(/img/second.jpg) no-repeat fixed top center;

    }

.third_img {

		position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    	min-height: 100%;

    	background: url(/img/back.jpg) no-repeat fixed top center;

    }




.gap1 {
	@extend %bubble;
	top: 10%;
	left: 5%;
}

.gap2 {
	@extend %bubble;
	top: 80%;
	left: 60%;
}

.gap3 {
	@extend %bubble;
	top: 80%;
	left: 60%;
}



body {
	font-family: 'Marvel', sans-serif;
	height: 100%;
}

a {
    color: #800000;
}

// Everything else

@media screen and (max-width: 600px) {
	    %bubble {
	    	position: relative;
	    	max-height: 200px;
	    	max-width: 100%;
	    	width: 100%;
	    	top: 100%;
	    	left: 0;
	    	border-radius: 0px;
	    }
}
